* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
  } 
  .losEstrella{
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color:  rgb(236, 231, 75);
}

section {
    padding: 0rem 9%;
}


  .banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    padding-left: 32px;
    padding-right: 160px;
    background: rgba(19, 114, 206, 1);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#nav-items{
    display: flex;
    font-weight: 600;
    gap: 50px;
}
#nav-items a {
    color: white;
    text-decoration: none;
    transition: 0.1s;
}

.busqueda {
    width: 400px;
    height: 40px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 10px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2);
}

input {
    width: 100%;
    height: 60px;
    color: rgba(19, 114, 206, 1);
    font-size: 15px;
    outline: none;
    border: none;
    background: transparent;
    position: relative;
    bottom: 20px;
}

.busqueda i {
    font-size: 20px;
    color: rgba(19, 114, 206, 1);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    text-align: right;
    position: relative;
    bottom: 60px;
}

.logo img {
    height: 50px;
    width: 200px;
}


.TituloPrincipal {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.TituloPrincipal h1 {
    color: rgba(19, 114, 206, 1);
}

.TituloPrincipal h3 {
    color:  rgb(2, 71, 139);
}

.image img {
   margin-top: 10px;
    height: 380px;
    width: 380px;
    border-radius: 30px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.losEstrella .boxContainer .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
    border-radius: 30px;
    transition: 0,3s;
    color: rgb(0, 130, 243);
}

.losEstrella .boxContainer .box .image:hover img {
    position: relative;
    top: -40px;
    opacity: 1;

}
 

.losEstrella .boxContainer {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 1.5rem; 
    justify-content: space-between;
}

.losEstrella i {
    color: rgb(1, 47, 125);
    font-size: 20px;  
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    
}

.losEstrella i:hover {
    color: rgba(19, 114, 206, 1);

}

.losEstrella h3 {
    font-size: 16px;
    color: rgb(85, 85, 85);
}

.box {
  display: inline-block;
  padding: 10px;
  background-color: rgb(247, 247, 247);
  border-radius: 30px;
  margin: 10px;
  margin-top: 35px;

}

.box img {
    display: block;
    height: auto;
}

.content {
    margin-left: 20px;
    margin-bottom: 20px;
    color: rgb(1, 47, 125);
}

.iconos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    text-align: left;
    padding-right: 20px;
}


.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem 3rem;
    background-color: rgba(19, 114, 206, 1);
    color: white;
}

.footer-content h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-content p{
    font-size: 14px;
    margin-bottom: 20px;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials li{
    list-style: none;
    margin: 0 10px;
}

.socials li a{
    font-size: 18px;
    color: white;
}
.mensaje{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 60vh;
}
 